APP_ENV=prod

API_CONTAINER_NAME=api-prod
DB_CONTAINER_NAME=db-prod

APP_PORT=8003

DB_HOST=db
DB_PORT=5432
DB_NAME=app_prod
DB_USER=app_prod
DB_PASSWORD=prod1234

POSTGRES_DB=app_prod
POSTGRES_USER=app_prod
POSTGRES_PASSWORD=prod1234
