APP_ENV=local

API_CONTAINER_NAME=api-local
DB_CONTAINER_NAME=db-local

APP_PORT=8000

DB_HOST=db
DB_PORT=5432
DB_NAME=app_local
DB_USER=app_local
DB_PASSWORD=local1234

POSTGRES_DB=app_local
POSTGRES_USER=app_local
POSTGRES_PASSWORD=local1234
