APP_ENV=stag

API_CONTAINER_NAME=api-stag
DB_CONTAINER_NAME=db-stag

APP_PORT=8002

DB_HOST=db
DB_PORT=5432
DB_NAME=app_stag
DB_USER=app_stag
DB_PASSWORD=stag1234

POSTGRES_DB=app_stag
POSTGRES_USER=app_stag
POSTGRES_PASSWORD=stag1234
