APP_ENV=dev

API_CONTAINER_NAME=api-dev
DB_CONTAINER_NAME=db-dev

APP_PORT=8001

DB_HOST=db
DB_PORT=5432
DB_NAME=app_dev
DB_USER=app_dev
DB_PASSWORD=dev1234

POSTGRES_DB=app_dev
POSTGRES_USER=app_dev
POSTGRES_PASSWORD=dev1234
